<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          {{#each comments}}
            <tr>
              <td> {{opinion}} </td>
              <td><a href="/delcomment/{{_id}}" ><i><b>Comment</b></i></a></td>
             </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>