<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Donation </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Donate</a>
    <a id="report" class= "item" href="/report"> Report</a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
    <a id="pointreport" class= "item" href="/pointreport"> Point Rep</a>
    <a id="pointaddshow" class= "item" href="/pointHome"> Point Add</a>

  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>