
<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
        <tr><td>User</td><td> Point</td></tr>
        <tr><td>{{user.name}}</td><td>{{point.name}}</td></tr>
        <tr> Comments</tr>
        </thead>
        <tbody>
          {{#each comment}}
            <tr>
              <td> {{comment.opinion}} </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>